/* --- ============  GERAL  ============= ---*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	width: 100%;

}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/* --- ============  CABEÇALHO - MOBILE  ============= ---*/

header {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: #f1f1f1;
	padding-top: 1px;
	box-shadow:  0px 2px 5px rgba(0,0,0,0.5); 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

}

header > div {
	padding: 5px;
}

header div > a {
	font-family: Pacifico, serif;
	font-size: 25px;
	font-weight: 700;
	color: #2c3e50;
	text-shadow: 1px 1px 1px #7d7d7d;
}

header nav {
	width: 100%;
	height: auto;
	overflow: auto;
}

/*============= Cabeçalho --> MENU =============*/

nav ul.container-menu {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 262px;
	margin-top: -100%;
	transition: 0.5s ease;
	position: relative;
	z-index: 3;
}

nav ul.container-menu li {
	width: 95%;
}

nav ul.container-menu li a {
	color: #2c3e50;
	display: block;
	width: 95%;
	padding: 12px 0;
	margin-left: 10px;
	font-weight: bold;
}



/* --- ============  BOTAO DE PESQUISA - MOBILE  ============= ---*/

div.container-busca {
	position: absolute;
	top: 55px;
	left: 0px;
	width: 200px;
	height: auto;
	background-color: #f1f1f1;
	padding: 10px 5px 10px 15px;
	border-radius: 0px 0px 3px;
	margin-left: -100%;
	transition: linear 0.5s;
	
}

div.container-busca input {
	width: 170px;
	height: 40px;
	padding-left: 5px;
	border: 1px solid #9f9f9f;
	border-radius: 3px;
	color: #5d5d5d;
}

#btn-busca {
	display: none;
}

i.icon-busca {
	position: absolute;
	top: 15px;
	left: 16px;
	color: #2c3e50;
	font-size: 27px;
	height: 100%;
}

#btn-busca:checked ~ .container-busca{
	margin-left: 0;
}

/*========== Cabeçalho --> MENU --> Efeito Dropdown ==========*/

#btn-menu {
	display: none;
}

span.icon-menu {
	position: absolute;
	top: 0px;
	right: 12px;
	color: #2c3e50;
	font-size: 27px;
	height: 100%;
	padding-top: 9px;
	font-weight: 900;

}

#btn-menu:checked ~ .container-menu {
	margin-top: 0;
}

/* --- ============  SLIDE SHOW - MOBILE  ============= ---*/

#container-slide {
	display: block;
	width: 100%;
	height:280px;
	position: relative;
	margin-top: 55px;

}

img.img-slide {
	width: 100%;
	height: 250px;
}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
	width: 100%;
	height: 250px;
	position: relative;
	margin: auto;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background: rgba(1,1,1,.6);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	height: 11px;
	width: 11px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}

/* --- ============  ARTIGOS - MOBILE  ============= ---*/

#public {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

#public h2 {
	color: #4d4d4d;
	display: block;
	text-align: center;
	width: 65%;
	padding: 10px;
	margin-bottom: 15px;
	border-bottom: #9d9d9d solid .5px;
	
}

.container-artigos {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	padding: 15px 5px;
	padding-bottom: 35px;
	
	
}

.itens-artigos {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	box-shadow:  0px 1px 3px rgba(0,0,0,0.5);
}

.itens-artigos img {
	width: 145px;
	height: 100px;
}

.texto-itens {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
	padding-left: 8px;
	padding-bottom: 3px;
}

.itens-artigos a {
	display: block;
	font-size: 17px;
	color: #5d5d5d;
	width: 100%;
	height: 80%;
}

.marcador-artigos {
	display: block;
	width:100%;
	height: auto;
	font-size: 10px;
	color: #5d5d5d;
}

.categoria {
	display: inline-block;
	background-color: #6FC5FC;
	padding: 0 3px;
	border-radius: 1px;
	width: 50%;
}

.data-publicacao {
	display: inline-block;
	width: 40%;
	text-align: right;
}

/*----------- CORES CATEGORIA ------------*/

.color-front{
	background-color: #E74856;
}

.color-backand {
	background-color: #607D8B;
}

.color-android {
	background-color: #00CC6A;
}


/* --- ============  VIDEOS - MOBILE  ============= ---*/

.container-videos {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	height: auto;
	margin-top: 10px;
	padding: 15px 0;
	padding-bottom: 35px;
	
}

.itens-videos {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.itens-videos iframe {
	width: 100%;
	height: auto;
}

/*.itens-videos a {
	font-size: 17px;
	padding: 5px 0px;
	text-align: center;
	color: #5d5d5d;
}*/

/* --- ============  RODAPEH - MOBILE  ============= ---*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color: #2c3e50;
	color: #f1f1f1;
	text-align: center;
	font-size: 14px;
}

footer a {
	color: #9d9d9d;
}
/*================== LINHAS DE PESQUISA - INICIO ==================*/


.container-conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	height: auto;
	margin: 0 auto;
	margin-top: 55px;
}




/*================== INTEGRANTES - MOBILE - INICIO ==================*/


.container-integrantes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.container-integrantes h1 {
	display: block;
	width: 95%;
	text-align: left;
	padding: 10px 5px;
	margin-bottom: 60px;
	border-bottom: 1px solid #D3D3D3;
}

.container-integrantes div {
	display: flex;
	flex-direction: row;
	width: 95%;
	height: auto;
	margin-bottom: 50px;
	padding: 0px 5px;
}

.container-integrantes div img {
	display: inline-block;
	width: 70px;
	height: 70px;
	max-width: 120px;
	max-height: 120px;
	border-radius: 50%;
}

.container-integrantes div p {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	width: 100%;
	height: auto;
}


.container-integrantes .linhap {
	display: block;
	width: 100%;
	height: auto;
	font-size: 12px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
}

.container-integrantes .titulo {
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	margin-left: 5px;
}

.container-integrantes .titulo span {
	color: #37ABE7;
	font-weight: 600;
	font-family: "Roboto";
}

/*================== INTEGRANTES - MOBILE - FIM ==================*/


@media screen and (min-width: 430px) {
	
	#container-slide {
		max-width: 500px;
		height: 330px;
		position: relative;
		margin: 0 auto;
		margin-top: 75px;

	}

	img.img-slide {
		height: 330px;
	}

	.slideshow-container {
		height: 330px;
	}
	

}


@media screen and (min-width: 700px ) {

/* --- ============  CABEÇALHO - DESKTOP  ============= ---*/
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;
	}

	header nav {
		display: flex;
		justify-content: flex-end;
		max-width: 500px;
		height: 55px;
		margin-right: 0px;
	}

	header > div {
		margin-left: 0px;	
}

	
	i.icon-busca {
		display: none;
	}
/* --- ============  MENU NAVEGAÇÂO - DESKTOP  ============= ---*/

	nav ul.container-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin-top: 0;
		height: 55px;
		z-index: 3;
	}

	nav ul.container-menu li {
		width: auto;
		text-align: center;
		height: 55px;
		vertical-align: middle;
	}

	nav ul.container-menu li a {
		color: #2c3e50;
		padding: 0 5px;
		padding-top: 15px;
		margin-left: 0px;
		width: 100%;
		height: 100%;
		font-size: 15px;
		transition: linear 0.5;
	}

	nav ul.container-menu li a:hover {
		border-bottom: 2px solid #2c3e50;
	}

	span.icon-menu {
			display: none;
		}
	
/* --- ============  SLIDE SHOW - DESKTOP  ============= ---*/

	#container-slide {
		max-width: 800px;
		height: 430px;
		position: relative;
		margin: 0 auto;
		margin-top: 75px;

	}

	img.img-slide {
		height: 430px;
	}

	.slideshow-container {
		height: 430px;
	}
	
	
/* --- ============  ARTIGOS - DESKTOP  ============= ---*/
	
	#public {
		margin: 100px auto;
	}
	
	#public h2 {
		width: 25%;
	}

	.container-artigos {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 900px;
		height: auto;	
		margin: 5px auto;
		padding: 45px 0px;
	}

	.itens-artigos a:hover {
		transition: color ease 0.5s;
		color: #1D5F8A;
	}
	.itens-artigos a {
		padding: 5px 0;
	}
	
	.itens-artigos {
		flex-direction: column;
		width: 251px;
		min-height: 281px;
		margin-left: 15px;
	}
	
	.itens-artigos img {
		width: 100%;
		height: 184px;
	}

	.marcador-artigos {
		display: flex;
		flex-direction: row;
		width:100%;
		height: auto;
		font-size: 10px;
		color: #5d5d5d;
	}

	.categoria {
		display: inline-block;
		background-color: #6FC5FC;
		padding: 0 7px;
		border-radius: 1px;
		width: 50%;
	}

	.data-publicacao {
		display: inline-block;
		width: 100%;
		padding-right:  15px;
		text-align: right;
	}


/* --- ============  VIDEOS - DESKTOP  ============= ---*/


	.container-videos {
		max-width: 300px;
		height: auto;
		padding: 0px 0px;
		margin: 0px;
	}

	.itens-videos {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		height: auto;
		margin: 0 0;
		margin-bottom: 20px;
	
	}
	
/*========== INTEGRANTES - DESKTOP - INICIO ================*/

	.container-integrantes div {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 75%;
			margin-bottom: 90px;
		}

	.container-integrantes .linhap {
			font-size: 15px;
			margin-bottom: 35px;
			border-radius: 0;
		}

	.container-integrantes .titulo {
			font-size: 16px;
			margin-left: 15px;
			
		}

	.container-integrantes .titulo span {
		font-size: 16px;
		margin-left: 10px;
		font-weight: 600;
	}

	.container-integrantes div img {
		display: block;
		width: 100px;
		height: 100px;
		margin-bottom: 30px;
	}

}